spring:
  application:
    name: payment-service
  config:
    import: optional:configserver:http://localhost:8071/

eureka:
  instance:
    preferIpAddress: true
  client:
    fetchRegistry: true
    registerWithEureka: true
    serviceUrl:
      defaultZone: http://localhost:8070/eureka/

