spring:
  application:
    name: order-service
  config:
    import: optional:configserver:http://localhost:8071/

  datasource:
    url: jdbc:mysql://localhost:3306/products
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

eureka:
  instance:
    preferIpAddress: true
  client:
    fetchRegistry: true
    registerWithEureka: true
    serviceUrl:
      defaultZone: http://localhost:8070/eureka/

