services:
  network-configuration:
    networks:
      - purely-goods-nw

  microservice-configuration:
    extends:
      service: network-configuration

  microservice-config-server-configuration:
    extends:
      service: microservice-configuration
    environment:
      SPRING_PROFILES_ACTIVE: default
      SPRING_CONFIG_IMPORT: configserver:http://config-server:8071/

  microservice-discovery-server-configuration:
    extends:
      service: microservice-config-server-configuration
    environment:
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://discovery-server:8070/eureka/
      EUREKA_CLIENT_FETCHREGISTRY: "true"
      EUREKA_CLIENT_REGISTERWITHEUREKA: "true"
      SPRING_CLOUD_CONFIG_IMPORT_CHECK_ENABLED: "false"
